.box{
    background: -webkit-linear-gradient(#5DAFA6, #708581); /*谷歌*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: body1 30s linear;
}
@keyframes body1{
    0%{ background: -webkit-linear-gradient(#81E1D8, #D2EBE7)}
    90%{ background: -webkit-linear-gradient(#81E1D8, #D2EBE7)}
    100%{ background: -webkit-linear-gradient(#5DAFA6, #708581)}
}

.yun1-1{
    position: absolute;
    margin-top: 100px;
    left: 20%;
    opacity: 0;
    animation: yun1-1 28s  linear;
    transform: scale(1.2);
}
@keyframes yun1-1 {
    0%{ left:20%;opacity: 1}
    20%{ left: 30%;}
    40%{ left: 20%;}
    60%{ left: 30%;}
    80%{ left: 20%;}
    95%{opacity: 1}
    100%{ left:100%; opacity: 0}
}
.yun1-2{
    position: absolute;
    margin-top: 100px;
    left: 40%;
    opacity: 0;
    animation: yun1-2 28s linear;
}
@keyframes yun1-2 {
    0%{ left:40%;opacity: 1}
    20%{ left: 50%;}
    40%{ left: 40%;}
    60%{ left: 50%;}
    80%{ left: 40%;}
    95%{opacity: 1}
    100%{ left:120%; opacity: 0}
}
.yun1-3{
    position: absolute;
    margin-top: 100px;
    left: 60%;
    opacity: 0;
    animation: yun1-3 28s linear;
    transform: scale(0.8);
}
@keyframes yun1-3 {
    0%{ left:60%;opacity: 1}
    20%{ left: 70%;}
    40%{ left: 60%;}
    60%{ left: 70%;}
    80%{ left: 60%;}
    95%{opacity: 1}
    100%{ left:140%; opacity: 0}
}
.yun0{
    position: absolute;
    margin-top: 50px;
    margin-left: -900px;
    animation: yun0 500s 23s linear;
}
@keyframes yun0 {
    0%{ left: 0%;  top: 50px;}
    1%{ left: 30%; top: 50px;}
    2%{ left: 55%; top: 50px;}
    3%{ left: 80%; top: 50px;}
    4%{ left: 81%; top: 50px;}
    4.25%{ left: 80%; top: 50px;}
    4.5%{ left: 79%; top: 50px;}
    4.75%{ left: 80%; top: 50px;}
    5%{ left: 81%; top: 50px;}
    5.25%{ left: 80%; top: 50px;}
    5.5%{ left: 79%; top: 50px;}
    5.75%{ left: 80%; top: 50px;}
    6%{ left: 81%; top: 50px;}
    6.25%{ left: 80%; top: 50px;}
    6.5%{ left: 79%; top: 50px;}
    6.75%{ left: 80%; top: 50px;}
    7%{ left: 81%; top: 50px;}
    7.25%{ left: 80%; top: 50px;}
    7.5%{ left: 79%; top: 50px;}
    7.75%{ left: 80%; top: 50px;}
    8%{ left: 81%; top: 50px;}
    8.25%{ left: 80%; top: 50px;}
    100%{ left: 80%; top: 50px;}
}
.yun2{
    position: absolute;
    margin-top: 60px;
    margin-left: -400px;
    animation: yun2 500s 23s linear;
}
@keyframes yun2 {
    0%{ left: 0%;  top: 60px;}
    1%{ left: 23%;  top: 60px;}
    2%{ left: 55%;  top: 60px;}
    3%{ left: 80%; top: 60px;}
    4%{ left: 81%; top: 60px;}
    4.25%{ left: 80%; top: 60px;}
    4.5%{ left: 79%; top: 60px;}
    4.75%{ left: 80%; top: 60px;}
    5%{ left: 81%; top: 60px;}
    5.25%{ left: 80%; top: 60px;}
    5.5%{ left: 79%; top: 60px;}
    5.75%{ left: 80%; top: 60px;}
    6%{ left: 81%; top: 60px;}
    6.25%{ left: 80%; top: 60px;}
    6.5%{ left: 79%; top: 60px;}
    6.75%{ left: 80%; top: 60px;}
    7%{ left: 81%; top: 60px;}
    7.25%{ left: 80%; top: 60px;}
    7.5%{ left: 79%; top: 60px;}
    7.75%{ left: 80%; top: 60px;}
    8%{ left: 81%; top: 60px;}
    8.25%{ left: 80%; top: 60px;}
    100%{ left: 80%; top: 60px;}
}
.sun1{
    position: absolute;
    margin-top: 20px;
    left: 80%;
    opacity: 0;
    animation: sun1 29s linear;
}
@keyframes sun1 {
    0%{ opacity: 1;}
    90%{opacity: 1}
    98%{opacity: 0}
    100%{ }
}
.sun2{
    position: absolute;
    margin-top: 50px;
    left: 80%;
    opacity: 0;
    animation: sun2 3000s 29s linear;
}
@keyframes sun2 {
    0%{ opacity: 0;}
    0.5%{ opacity: 1}
    100%{ opacity: 1;}
}

.flash1{
    position: absolute;
    margin-top: 224px;
    left: 60%;
    animation: flash1 500s 42s linear;
    opacity: 0;
}
@keyframes flash1 {
    0%{ opacity: 0;}
    1%{ opacity: 1;}
    100%{ opacity: 1;}
}
.flash2{
    position: absolute;
    margin-top: 282px;
    left: 32%;
    animation: flash1 500s 40s linear;
    opacity: 0;
}
@keyframes flash2 {
    0%{ opacity: 0;}
    1%{ opacity: 1;}
    100%{ opacity: 1;}
}
.bird{
    position: absolute;
    animation: bird 28s 1 1s linear;
    margin-top: 150px;
    margin-left:-100px;

}
@keyframes bird {
    0%{ left: 0%;  top: 150px;}
    1%{ left: 1%;  top: 150px;}
    2%{ left: 2%;  top: 150px;}
    3%{ left: 3%; top: 150px;}
    4%{ left: 4%; top: 150px;}
    5%{ left: 5%; top: 150px;}
    6%{ left: 6%; top: 150px;}
    7%{ left: 7%; top: 150px;}
    8%{ left: 8%; top: 150px;}
    9%{ left: 9%; top: 150px;}
    10%{ left: 10%; top: 150px;}
    11%{ left: 11%; top: 150px;}
    12%{ left: 12%; top: 150px;}
    13%{ left: 13%; top: 150px;}
    14%{ left: 14%; top: 150px;}
    15%{ left: 15%; top: 150px;}
    16%{ left: 16%; top: 150px;}
    17%{ left: 17%; top: 150px;}
    18%{ left: 18%; top: 150px;}
    19%{ left: 19%; top: 150px;}
    20%{ left: 20%; top: 150px;}
    21%{ left: 21%; top: 150px;}
    22%{ left: 22%; top: 150px;}
    23%{ left: 23%; top: 150px;}
    24%{ left: 24%; top: 150px;}
    25%{ left: 25%; top: 150px;}
    26%{ left: 26%; top: 150px;}
    27%{ left: 27%; top: 150px;}
    28%{ left: 28%; top: 150px;}
    29%{ left: 29%; top: 150px;}
    30%{ left: 30%; top: 150px;}
    31%{ left: 31%; top: 150px;}
    32%{ left: 32%; top: 150px;}
    33%{ left: 33%; top: 150px;}
    34%{ left: 34%; top: 150px;}
    35%{ left: 35%; top: 150px;}
    36%{ left: 36%; top: 150px;}
    37%{ left: 37%; top: 150px;}
    38%{ left: 38%; top: 150px;}
    39%{ left: 39%; top: 150px;}
    40%{ left: 40%; top: 150px;}
    41%{ left: 41%; top: 150px;}
    42%{ left: 42%; top: 150px;}
    43%{ left: 43%; top: 150px;}
    44%{ left: 44%; top: 150px;}
    45%{ left: 45%; top: 150px;}
    46%{ left: 46%; top: 150px;}
    47%{ left: 47%; top: 150px;}
    48%{ left: 48%; top: 150px;}
    49%{ left: 49%; top: 150px;}
    50%{ left: 50%; top: 150px; opacity: 1;}
    51%{ left: 51%; top: 150px; }
    52%{ left: 52%; top: 150px; }
    53%{ left: 53%; top: 150px; }
    54%{ left: 54%; top: 150px; }
    55%{ left: 55%; top: 150px; }
    56%{ left: 56%; top: 150px; }
    57%{ left: 57%; top: 150px; }
    58%{ left: 58%; top: 150px; }
    59%{ left: 59%; top: 150px; }
    60%{ left: 60%; top: 150px; }
    61%{ left: 61%; top: 150px; }
    62%{ left: 62%; top: 150px; }
    63%{ left: 63%; top: 150px; }
    64%{ left: 64%; top: 150px; }
    65%{ left: 65%; top: 150px; }
    66%{ left: 66%; top: 150px; }
    67%{ left: 67%; top: 150px; }
    68%{ left: 68%; top: 150px; }
    69%{ left: 69%; top: 150px; }
    70%{ left: 70%; top: 150px; }
    71%{ left: 71%; top: 150px; }
    72%{ left: 72%; top: 150px; }
    73%{ left: 73%; top: 150px; }
    74%{ left: 74%; top: 145px; }
    75%{ left: 75%; top: 140px; }
    76%{ left: 76%; top: 135px; }
    77%{ left: 77%; top: 130px; }
    78%{ left: 78%; top: 125px; }
    79%{ left: 79%; top: 120px; }
    80%{ left: 80%; top: 105px; }
    81%{ left: 81%; top: 100px; }
    82%{ left: 82%; top: 95px; }
    83%{ left: 83%; top: 90px; }
    84%{ left: 84%; top: 85px; }
    85%{ left: 85%; top: 80px; }
    86%{ left: 86%; top: 75px; }
    87%{ left: 87%; top: 70px; }
    88%{ left: 88%; top: 65px; }
    89%{ left: 89%; top: 60px; }
    90%{ left: 90%; top: 55px; }
    91%{ left: 91%; top: 50px; }
    92%{ left: 92%; top: 45px; }
    93%{ left: 93%; top: 40px; }
    94%{ left: 94%; top: 35px; }
    95%{ left: 95%; top: 30px; }
    96%{ left: 96%; top: 25px; }
    97%{ left: 97%; top: 20px; }
    98%{ left: 98%; top: 15px; }
    99%{ left: 99%; top: 10px; }
    100%{ left: 10%; top: 5px; opacity: 0}
}

.san{
    position: absolute;
    margin-top: 220px;
    left: 10%;
    opacity: 0;
    animation: san 28s linear;
}
@keyframes san {
    0%{ left: 10%; opacity: 1;}
    20%{ left: 30%;}
    40%{ left: 10%;}
    60%{ left: 30%;}
    80%{ left: 10%;}
    90%{ opacity: 1; transform: rotate(0deg) scale(1);}
    100%{ left: 60%; opacity: 0; transform: rotate(720deg) scale(0.2);}
}
.girl{
    position: absolute;
    margin-top: 551px;
    left: 30%;
    opacity: 0;
    animation: girl 28s linear;
}
@keyframes girl {
    0%{ left: 30%; opacity: 1;}
    20%{ left: 50%;}
    40%{ left: 30%;}
    60%{ left: 50%;}
    80%{ left: 30%;}
    90%{ opacity: 1; transform: rotate(0deg) scale(1);}
    100%{ left: 80%; opacity: 0; transform: rotate(720deg) scale(0.2);}
}